#   <u>  **SAE BDD (Varun Gupta,Salma Bousserhane)** </u>   <br>

## <u> **1) Script:** </u>

In [1]:
%load_ext sql

In [5]:
%sql postgresql:varun:varun2003//@localhost/postgres

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Could not parse rfc1738 URL from string 'postgresql:varun:varun2003//@localhost/postgres'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### <u> **Création de requêtes SQL** </u> <br>

#### <u> **Requêtes Simples** </u> <br>
1) Quels sont les noms et le sexe des passagers qui ont un âge inférieur à 40 ans ? <br>

In [3]:
%%sql
select name,sex 
    from Passagers 
    where age<40;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

2) Même Requête que la 1 et qui ont pour sexe le sexe masculin?

In [4]:
%%sql
select name,sex 
    from Passagers œ
    where age<40 and sex='male';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

3) Donner le nom,l'age des passagers qui ont un prix de ticket supérieur à 20 et qui ont embarqués depuis le port S. <br>

In [6]:
%%sql
select Name,age
    from Passagers natural join titanic natural join Trajet 
    where fare>20 and enbarked='S';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### <u>**Fonctions d'agrégations**</u> <br>

4) Donnez le nombre de Passagers <br>

In [7]:
%%sql
select count(*) as NbdePassagers 
    from Passagers;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

5) Donnez le prix moyen pour la croisière du Titanic.

In [8]:
%%sql
select avg(Fare) 
    from Trajet;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

6) Donner longueur (nb de caractères) du prénom le plus long <br>

In [9]:
%%sql
select max(char_length(Name)) 
from Passagers;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

7) Combien de passagers y'avait t-il depuis chaque embarcation ? <br>

In [10]:
%%sql
select enbarked,count(*) as NbdeVoyageurs
    from titanic 
    group by enbarked 
    order by enbarked;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

8) Donner le nombre de passagers morts lors de la croisière du Titanic. <br>

In [11]:
%%sql
select count(*) as nbPassagersmorts 
    from titanic 
    where survived=0;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

###  <u> **Réponse aux requêtes de la SAé** </u> <br>

1. Combien de classes de passagers différentes y avait-il à bord du Titanic ?

In [12]:
%%sql
select count(distinct Pclass) as Classes_differentes
    from trajet;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

2. Combien de passagers y avait-il dans chaque classe?

In [13]:
%%sql
select Pclass, count(*) as NbDeVoyageursDansClasse 
    from Trajet 
    group by Pclass 
    order by Pclass;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

3. Combien de femmes et d'hommes y avait-il dans chaque classe? <br>

In [14]:
%%sql
select Pclass, sex, count(*) as VoyageursClasse 
    from Passagers natural join titanic natural join Trajet
    group by Pclass,sex 
    order by Pclass;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

4. Comptez le nombre et le pourcentage de survivants et de passagers morts.

In [15]:
%%sql
select Survived, count(*) VoyageursSurMo, (count(*)*100/(select count(*) from titanic)) as pourcent
    from titanic 
    group by survived;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

5. Visualiser la répartition des passagers survivants et morts par classe.

In [16]:
%%sql
select Pclass,survived, count(*) as Voyageurs 
    from Trajet natural join titanic 
    group by Pclass,survived 
    order by Pclass,survived;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

6. Visualiser la répartition des passagers survivants et des passagers décédés selon le sexe.

In [17]:
%%sql
select survived,sex, count(*) as Voyageurs 
    from Passagers natural join titanic 
    group by survived,sex 
    order by survived,sex;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## <u> **Fin du Script** </u> <bR>

## <u> **Début du rapport** </u> <br>

### **Introduction :** <br>

### &nbsp; Nous nous sommes amusés à créer des **requêtes** afin de tester nos différentes tables/relations en utilisant plusieurs outils tels que les jointures ou bien même les fonctions d'agrégations. <br>

### **Visualisation des requêtes imaginées :**

Dans la **première requête**, nous pouvons voir qu'environ **728 passagers(voyageurs)** ont un **âge en dessous de 40 ans**.Ce qui veut dire que sur un total de passagers qui est égal à **891 passagers** (on peut le voir grâce à la **requête n°4**), les passagers d'en dessous de 40 ans repésentent **81,7 %** de tous les passagers. <br>
Dans la **deuxième requête**, nous filtrons encore plus la demande en y indiquant qu'on veut seulement ceux appartenant au genre masculin, nous obtenons un résultat de **468** passagers du genre masculin, ce qui représente **64,28 %** sur les 728 passagers, on peut donc conjecturer qu'il y'a **plus d'hommes que de femmes lors de la croisière du Titanic**. <br>
Dans la **troisième requête**, nous avons essayer de faire une requête en utilisant les **jointures naturelles** pour **relier** les trois tables(relations), nous interrogeons les tables sur une demande bien précise, nous demandons les noms et âge des passagers selon différents critères que le prix du ticket est supérieur à 20 et qu'ils ont bien embarqué depuis le port S (Southampton), ils représentent **264**passagers sur **891** soit **environ 30%**. <br>
Dans la **cinquième requête**, nous utilisons une fonction d'agrégation **avg(fare)** qui va calculer le prix moyen d'un ticket, qui va donner environ **32,4** qui est donc le prix moyen d'un ticket de passagers lors de la croisière du Titanic. <br>
Dans la **sixième requête**, la longueur du prénom le plus grand grâce à la fonction d'aggréagation max(char_length(attribut)). <br>
Dans la **septième requête**,nous cherchons combien de passagers ont embarqué depuis **le port S(Southampoton)**,depuis le **port C (Cherbourg)** et depuis **le port Q(Queenstown)**. **2** passagers n'ont **aucune embarcation** assignée,**168** sont assignés aux embarcations depuis le **port C**,quant à **Q 77passagers** et pour finir **644 passagers** qui ont fait embarcation depuis le **port S**.Cela repésente **O.22%(passagers ayant aucune embarcation)** sur les 891 passagers. L'embarcation des passagers depuis le port  **C** représente environ **19%** sur les 891 passagers.L'embarcation des passagers depuis le port **Q** représente **8,64** sur les 891 passagers.L'embarcation des pasagers depuis le port **S** représente **72.27%** sur les 891 passagers. On observe qu'il y'a eu majoritairement des embarcations depuis le port S, ce qui est normal vu que c'est la 1ère escale du titanic. <br>
Dans la **septième requête**, nous voyons grâce à la fonction d'aggrégation count(), le nombre de morts lors du trajet du Titanic est de **549**, ce qui représente plus de la moitié des passagers morts(61% environ) sur les 891 passagers.

### **Visualisation des requêtes**

Dans la **première requête** , nous demandons combien de classes diférentes étaient disponibles, on peut voir qu'il y'a 3 classes différentes à bord du titanic, **la première classe 1** était déstinées aux gens **les plus fortunés du navire**.**La deuxième classe 2** était **destinée aux gens modestes (enseignants)** et **la dernière classe** était destinée aux gens de la **classe populaire** ou **venaient de l'immigration**. <br>
Dans la **deuxième requête**, nous nous demandons le nombres de passagers par classe, dans la **1ère classe**, il y'a **216 passagers** soit **25 %** sur la totalité des passagers, dans **la seconde classe**, il y'a **184 passagers** soit **20.6 %** sur la totalité des passagers et enfin pour finir **dans la dernière classe**, il y'a **491 passagers** soit **55.10 %** sur la totalité des passagers. Il y'a deux fois plus de passagers dans la classe 3 que dans la classe 1, cela peut être expliqué par le fait que beaucoup de gensà cette époque voulaient immigrer pour une meilleure vie. <br>
Dans la **troisième requête**, nous voulons savoir le nombre d'hommes et de femmes dans chaque classe. Dans la **1ère classe**, il y'a **94 passagers femmes** et **122 passagers hommes** donc **216 passagers au total**, soit **43.55 %** des passagers sont des femmes dans la classe 1 et donc **56.4 %** les passagers hommes.Dans la **2ème classe**, il y'a **76 passagers femmes** et **108 passagers hommes** donc **184 passagers au total**, soit **41.30%** des passagers sont des femmes dans la classe 2 et donc **58.6 %** les passagers hommes.Dans la **3ème classe**, il y'a **144 passagers femmes** et **347 passagers hommes** donc **491 passagers au total**, soit **29.3%** des passagers sont des femmes dans la classe 3 et donc **70.6 %** les passagers hommes.On peut observe que dans les classes 1 et 2 qu'il y'a à peu près le même pourcentage d'hommes et de femmes.Cependant on peut observer un pourcentage nettement plus élevé pour les hommes par rapport aux femmes (**environ 70% pour H et 30% pour F**) <br>
Dans la **quatrième requête**, on obtient le résultat suivant  **549  voyageurs qui n'ont pas survécu** soit **549/891x100=61.1%** de voyageurs morts et **342 voyageurs qui ont survécu** soit **342/891x100=38.38%**. On peut voir un pourcentage de morts plus élevé que le pourcentage des voyageurs qui ont survécu. <br>
Dans la **cinquième requête**, nous filtrons la requête en comptant le nombre de passagers vivants et morts en fonction de la classe. Dans la **classe 1**, il y'a **80 passagers qui n'ont pas survécu** et **136 passagers qui ont survécu**, on peut voir qu'il y'a eu plus de survivants que de morts.Dans la **classe 2**, il y'a **97 passagers qui n'ont pas survécu** et **87 passagers qui ont survécu**, on peut voir qu'il y'a environ le même nombre de morts que de survivants.Dans la **classe 3**, il y'a **372 passagers qui n'ont pas survécu** et **119 passagers qui ont survécu**,on peut observer qu'il y'a eu énormément plus de morts que de survivants.On peut aussi apercevoir qu'il y'a eu plus de sauvés dans la classe 1 que dans la classe 3 sachant qu'il y'a beaucoup plus de passagers en classe 3
qu'en classe 1, on peut apercevoir qu'il y'a eu une priorité de sauvetage, cela est aussi peut être dû au faite que la classe 3 se situait dans les parties inférieures du bateau et la classe 1 dans les parties supérieures du bâteau.
Dans la **dernère requête**, on filtre le nombre de survivants et de morts en fonction du sexe. On obtient le résultat suivant: <br>
-Pour les **femmes**, il y'a eu **81 passagers** qui n'ont pas survécu et **233 qui ont survécu**. Il y'a eu plus de survivants que de morts. <br> 
-Pour les **hommes**, il y'a eu **468 passagers** qui n'ont pas survécu et **109 qui ont survécu**. Il y'a eu beaucoup plus de morts que de survivants.  <br>